
# Ignore bundler config.
/.bundle

# Ignore junk
.DS*
._.DS*
*.sublime-*
.idea

# Ignore sample data
/sample_data
/solr/sample_data

# Ignore log files
/log

# Ignore solr conf files downloaded from https://github.com/pulibrary/pul_solr/
solr/conf/*.html
solr/conf/*.xml
solr/conf/*.txt
solr/conf/*.conf
solr/conf/*.json