
# Ignore bundler config.
/.bundle

# Ignore junk.
.DS*
._.DS*
*.sublime-*
.idea

.byebug_history

# testing output
coverage

# ignore sample data except sample_psucat.mrc
solr/sample_data/*
!solr/sample_data/sample_psucat.mrc

# config gem
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Local dev files
.bash_history
.cache
.local
data/
vendor/**/*
