version: 2.1
orbs:
  ruby: circleci/ruby@2.3.1
  docker: circleci/docker@2.8.2

parameters:

  GHA_Action:
    type: string
    default: ""
  GHA_Actor:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  CI_UTILS_IMAGE_TAG:
    type: string
    default: "v4.3.0"
  CONFIG_REPO_NAME:
    type: string
    default: "catalog-config"
  CONFIG_REPO_URL:
    type: string
    default: "git@github.com:psu-libraries/catalog-config.git"
  CLUSTERS_DEV:
    type: string
    default: "uldev"
  CLUSTERS_PROD:
    type: string
    default: "prod"    
  REGISTRY_HOST:
    type: string
    default: "harbor.k8s.libraries.psu.edu"    
  PIPELINE_CONFIG_VERSION:
    type: string
    default: "1.0.1"    

commands:

  clone-config-repo:
    steps:
      - add_ssh_keys
      - run:
          name: Prepare GitHub Access
          command: |
            ssh-keyscan github.com > ~/.ssh/known_hosts
            git clone << pipeline.parameters.CONFIG_REPO_URL >>


  compute-docker-tag:
    steps:
      - run:
          name: Compute Docker Tag
          command: |
            if [[ "$CIRCLE_BRANCH" == "main" ]]; then
              TAG="$CIRCLE_SHA1"
            else
              SLUG=$(slugify-branch "$CIRCLE_BRANCH")
              TAG="${SLUG}--$CIRCLE_SHA1"
            fi
            echo "export TAG=$TAG" >> "$BASH_ENV"    

executors:

  ci-utils:
    parameters:
      image_tag:
        type: string
      registry_host:
        type: string
    docker:
      - image: << parameters.registry_host >>/library/ci-utils:<< parameters.image_tag >>

jobs:
  build-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>  
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - compute-docker-tag
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/build:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG
          extra_build_args: "--target production"
          use-buildkit: true
      - run:
          name: Save Docker image
          command: |
            docker save $REGISTRY_HOST/library/$CIRCLE_PROJECT_REPONAME:$TAG -o /tmp/docker-image.tar
      - run:
          name: Save image info for push job
          command: |
            mkdir -p /tmp/docker-image-info
            echo "$REGISTRY_HOST/library/$CIRCLE_PROJECT_REPONAME:$TAG" > /tmp/docker-image-info/image-name.txt
      - persist_to_workspace:
          root: /tmp
          paths:
            - docker-image.tar
            - docker-image-info
  
  push-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    steps:
      - setup_remote_docker:
          docker_layer_caching: false
      - checkout
      - compute-docker-tag
      - attach_workspace:
          at: /tmp
      - run:
          name: Load Docker image
          command: |
            docker load -i /tmp/docker-image.tar
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/push:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG          

  release-image:
    parameters:
      to_tag:
        type: string
      from_tag:
        type: string
      clusters:
        type: string
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      clusters: << parameters.clusters >>
      CONFIG_REPO: git@github.com:psu-libraries/catalog-config.git
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      FROM_TAG: << parameters.from_tag >>
      TO_TAG: << parameters.to_tag >>
      PIPELINE_CONFIG_VERSION: << pipeline.parameters.PIPELINE_CONFIG_VERSION >>
    steps:
      - clone-config-repo
      - run:
          name: Tag & Release Image
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            export REGISTRY_REPO="$CIRCLE_PROJECT_REPONAME"
            /usr/local/bin/image-tag
            cd $CONFIG_REPO_NAME

            # Split comma-separated clusters into array and loop
            clusters="${clusters// /}"
            IFS=',' read -ra CLUSTERS \<<< "$clusters"
            for cluster in "${CLUSTERS[@]}"; do
              export TARGET_CLUSTER="$cluster"
              echo "Processing cluster: $TARGET_CLUSTER"
              /usr/local/bin/image-release-pr "clusters/$TARGET_CLUSTER/manifests/$CIRCLE_PROJECT_REPONAME/prod.yaml"
            done          


  # release:
  #   docker:
  #     - image: harbor.k8s.libraries.psu.edu/library/ci-utils:$CI_UTILS_IMG_TAG
  #   environment:
  #     REGISTRY_HOST: harbor.k8s.libraries.psu.edu
  #     REGISTRY_REPO: library/psulib_traject
  #     GITHUB_USER: 'psu-stewardship-bot'
  #   steps:
  #     - add_ssh_keys
  #     - run:
  #         name: "Release"
  #         command: |
  #           /usr/local/bin/tag-image
  # publish:
  #   executor:
  #     name: docker/docker
  #     tag: "3.8"
  #   steps:
  #     - setup_remote_docker:
  #         docker_layer_caching: true
  #     - checkout
  #     - docker/check:
  #         registry: harbor.k8s.libraries.psu.edu
  #     - docker/build:
  #         image: library/psulib_traject
  #         registry: harbor.k8s.libraries.psu.edu
  #     - docker/push:
  #         digest-path: /tmp/digest.txt
  #         image: library/psulib_traject
  #         registry: harbor.k8s.libraries.psu.edu
  test-application:
    docker:
      - image: cimg/ruby:3.4.1
      - image: redis:5.0.7
    steps:
      - checkout
      - run:
          name: "Wait for Redis"
          command: dockerize -wait tcp://localhost:6379 -timeout 1m
      - run:
          name: Install Gems
          command: |
            gem install bundler -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)"
            bundle install
      - run:
          name: Linting
          command: bundle exec rubocop
      - run:
          name: RSpec
          command: |
            export REDIS_URL=redis://localhost:6379/1
            bundle exec rspec
      # - run:
      #     name: Upload Coverage
      #     when: on_success
      #     command: |
      #       wget -q https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 -O cc-test-reporter
      #       chmod 755 cc-test-reporter
      #       export TAG=${CIRCLE_SHA1}
      #       export GIT_COMMIT_SHA=$CIRCLE_SHA1
      #       export GIT_BRANCH=$CIRCLE_BRANCH
      #       export GIT_COMMITED_AT=$(git log -1 --date=short --pretty=format:%ct)
      #       ./cc-test-reporter after-build -d
workflows:
  blacklight-traject-ci-cd:
    jobs:
      - test-application:
          name: test-application
          context:
            - org-global
          filters:
            branches:
              only: /.*/

      - build-image:
          name: build-image
          context:
            - org-global
          filters:
            branches:
              only:
                - main
                - /preview\/.*/

      - push-image:
          name: push-image
          context:
            - org-global
          filters:
            branches:              
              only:
                - main
                - /preview\/.*/
          requires:
            - build-image
            - test-application
      
      - release-image: 
          name: release-image
          clusters: << pipeline.parameters.CLUSTERS_PROD >>
          context:
            - org-global
          from_tag: "<< pipeline.git.revision >>"
          to_tag: "<< pipeline.git.tag >>"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+.*/    
      # - release:
      #     context: org-global
      #     name: "Release Image"
      #     filters:
      #       tags:
      #         only:
      #           - /^v\d+.\d+.\d+.*/
      #       branches:
      #         ignore:
      #           - /.*/
      # - test:
      #     context: org-global
      # - publish:
      #     context: org-global
