solr:
  version: 7.4
  protocol: "<%= ENV.fetch("SOLR_PROTO", "http") %>"
  host: "<%= ENV.fetch("SOLR_HOST", "host.docker.internal") %>"
  username: "<%= ENV.fetch("SOLR_USERNAME", nil) %>"
  password: "<%= ENV.fetch("SOLR_PASSWORD", nil) %>"
  num_shards: 1
  replication_factor: 1
  max_shards_per_node: 1
  port: "<%= ENV.fetch("SOLR_PORT", "8983") %>"
  collection: "<%= ENV.fetch("SOLR_COLLECTION", "psul_catalog_v1") %>"
log:
  error_file: log/traject_error.log
  file: log/traject.log
  batch_size: 100_000
solr_writer:
  commit_on_close: true
reader_class_name: PsulibTraject::MarcCombiningReader
commit_timeout: 10000
symphony_data_path: /data/symphony_data/
hathi_etas: false
hathi_overlap_path: /app/data/hathitrust_data/overlap.tsv
marc4j_reader:
  permissive: true
  source_encoding: 'UTF-8'
processing_thread_pool: 7
location_excludes:
  - ACAD-BLDG
  - ANNEXPREP
  - ANNEX
  - AVAIL_SOON
  - AX-CATALOG
  - AX-CP-LP
  - BINDERY-DN
  - BINDERY-HY
  - BINDERY
  - BINDPRP-DN
  - BKFLOATEMP
  - CATALOGING
  - CATO2-DN
  - CATO-2MAPS
  - CATO-2
  - CATOFF-HY
  - CATO-PARK
  - CHECKEDOUT
  - DARCHIVE-P
  - DEPTCHARGE
  - DSLOFFCHRG
  - FILM-CTR
  - FILM-PSU
  - HC-GCS
  - HIGHACRES
  - HOLDS
  - ILL-BK
  - ILL-BR
  - ILLEND
  - ILL-HB
  - ILL-HY
  - ILL-SL
  - ILL-SV
  - ILL
  - ILL-UP
  - ILL-WB
  - ILL-WS
  - ILL-YK
  - IN-MARKING
  - INPROCESS
  - INTRANSIT
  - LAPTOP-GWY
  - LAPTOP-PO
  - LOST-FIX
  - MEDIA-PRES
  - MISSING
  - ONHOLD-AA
  - ONHOLD-AB
  - ONHOLD-AC
  - ONHOLD-BD
  - ONHOLD-BK
  - ONHOLD-BR
  - ONHOLD-DE
  - ONHOLD-DN
  - ONHOLD-DP
  - ONHOLD-DS
  - ONHOLD-EG
  - ONHOLD-EM
  - ONHOLD-FE
  - ONHOLD-GV
  - ONHOLD-HB
  - ONHOLD-HN
  - ONHOLD-HY
  - ONHOLD-LV
  - ONHOLD-MA
  - ONHOLD-MD
  - ONHOLD-MK
  - ONHOLD-MT
  - ONHOLD-NK
  - ONHOLD-PA
  - ONHOLD-PM
  - ONHOLD-PO
  - ONHOLD-SL
  - ONHOLD-SV
  - ONHOLD-WB
  - ONHOLD-WD
  - ONHOLD-WS
  - ONHOLD-YK
  - ONLINE-DSL
  - ONLINE
  - ON-ORDER
  - ORDERED
  - PALCI
  - PSUARC-GCS
  - RARE-GCS
  - REPAIR
  - RESHELVING
  - SCANGOVDOC
  - SCANNING
  - SMITH
  - SOFTWAREHN
  - SPC-ACAD
  - SPC-CATOII
  - SPC-CATOI
  - SPC-SCIPRK
  - SPC-SCISTO
  - STACKS-AA
  - STACKS-AB
  - STACKS-BD
  - STACKS-BK
  - STACKS-BR
  - STACKS-DE
  - STACKS-DS
  - STACKS-FE
  - STACKS-GV
  - STACKS-HB2
  - STACKS-HB3
  - STACKS-HN
  - STACKS-LV2
  - STACKS-LV
  - STACKS-MA1
  - STACKS-MA2
  - STACKS-MA
  - STACKS-MK
  - STACKS-NK
  - STACKS-SL
  - STACKS-SV
  - STACKS-WB
  - STACKS-WS
  - STACKS-YK
  - TRANSFER
  - UNKNOWN
