SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed

#######  SOLR adds updates and deletes ######################
10,25,40,50 * * * * ansible_deploy_bot /data/symphony_data/add_upd_solr_indexes >> /data/symphony_data/cron_logs/adds_updates.log 2>> /data/symphony_data/cron_logs/adds_updates_err.log
10,25,40,55 * * * * ansible_deploy_bot /data/symphony_data/delete_solr_indexes >> /data/symphony_data/cron_logs/deletes.log 2>> /data/symphony_data/cron_logs/deletes_err.log

#######  Library and location facets   ######################
0 1 * * * root cp /data/symphony_data/*_map.properties /data/websites/psulib_blacklight; chown apache:apache /data/websites/psulib_blacklight/*_map.properties; chmod 755 /data/websites/psulib_blacklight/*_map.properties

#######  Cleanup                       #####################
0 3 1 * * root find /data/symphony_data/adds_updates/done/*MARC* -mtime +30 -type f -delete
0 3 1 * * root find /data/symphony_data/deletes/done/*blackcat_deletes* -mtime +30 -type f -delete
0 3 1 * * root find /data/symphony_data/deletes/done/*.sh -mtime +30 -type f -delete
